.exp {
  width: 100%;
  height: 100%;
  position: relative; 
}

.exp .content {
  height: 100%;
}

.exp .title {
 background-color: rgba(0, 0, 0, 0);
} 

.menu-btn-exp {
  padding:0 5px;
  width: 120px;
  height: 100%;
  font-size: 20px;
}

.select-items-proj {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  height: 80%;
  margin:0;
  padding:0;
  bottom: 0;
}

.select-items-proj li {
  background-color: black;
  margin:0 8px;
  width: 180px;
  height: 90%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(20, 20, 20, 0.4), 0 6px 20px rgba(20, 20, 20, 0.3);
  font-size: 20px;
}
.select-items-proj h3 {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: -38px;
  margin: 0;
}
.items h3 {
  font-size: 20px;
  font-weight:normal;

}

.select-items-proj li:hover {
  cursor: pointer;
  filter: brightness(100%);
}

.menu-btn-exp:hover {
 cursor: pointer;
}
.active {
  border-bottom: 1px solid red;
}

.active-item {
  filter: brightness(1.5);
}
.not-active-item{
  filter: brightness(.5);
  transition: .5s;
}


.exp .selector {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35%;
  margin:0;
  display: flex;
  justify-content: center;
}

.active-items {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.active-items::after{
  content:'';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
  background-image: linear-gradient(
  to top, #000 15%,transparent
  );

}

.exp-con-menu{
  width: 100%;
  --height: 60%;
  --height: max-content;
  display: flex;
}
.right-box{
  border-left: 3px solid red;
  width: 50%;
  height: calc-size(max-content,size - 50px);
  padding: 0;
  margin-top: 110px;
}
.left-box {
  width: 50%;
  height: 100%;
  position: relative;
}
.exp-con-menu .item {
  position: relative;
  padding: 0;
}
.item-right, .item-left {
  padding: 0;
  position: relative;
}
.move-to-right {
  width: 400px;
  height: 150px;
  margin-top: -40px;
  height: 150px;
  position: relative;
  filter: brightness(60%);
  transition: filter 0.3 ease;
}
.move-to-right:hover {
  filter:brightness(100%);
}
.item-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.horizontal-line-left {
  width: 100px;
  height: 100%;
  border-top: solid 3px white;
  position: absolute;
  top:20px;
  right: 0;
}
.horizontal-line-left::after {
  content: '';
  width: 100px;
  height: 100px;
  border-right: solid 3px red;
  position: absolute;
  top:10px;
  right: -3px;
}


.horizontal-line {
  width: 100px;
  height: 100%;
  border-top: solid 3px white;
  position: absolute;
  top:20px;
  left: 0;
}
.circle{
  width: 30px;
  height: 30px;
  background-color: black;
  border: 3px white solid;
  border-radius: 50%;
  position: absolute;
  top:8px;
  left: -17px;
}
.circle-left {
  width: 30px;
  height: 30px;
  background-color: black;
  border: 3px white solid;
  border-radius: 50%;
  position: absolute;
  top:7px;
  right:-16px;
}

.item-right-content {
  width: 300px;
  height: 110px;
  margin-left: 110px;
  margin-top: -40px;
  margin-bottom: 50px;
}

.item-left-content {
  text-align: end;
  width: 300px;
  padding-right: 10px;
  height: 110px;
  --background-color: yellow;
}
.job-title, .company , .year {
  margin:0;
}
.job-title {
  filter: brightness(80%);
}
.year {
  filter: brightness(50%);
}
.proj-desc{
  font-size: 25px;
  --background-color: red;
  width: 50%;
  position: relative;
  z-index: 1;
  margin-left: 4%;
}
.active-items h1{
  font-size: 5em;
  margin-left: 4%;
  margin-top: 300px;
  z-index: 1;
  position: relative;
  --background-color:red;
}
