.exp {
  width: 100%;
  height: 100%;
  position: relative;
  container-type: inline-size;
}

.exp .content {
  height: 100%;
}

.exp .title {
 background-color: rgba(0, 0, 0, 0);
} 

.menu-btn-exp {
  padding:0 5px;
  width: max-content;
  height: 95%;
  font-size: 1.6vh;
}
.exp-menu-title {
  display: flex;
}
.hamburger-exp {
    display: none;
}
@container (max-width: 800px) {
    .hamburger-exp {
        display: inline;
        display: flex;
        align-items: center;
    }
    .exp-menu-title{
        display: none;
    }
    .exp-menu-title.open {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top:35px;
        width: 33%;
        padding: 5px;
        background-color: rgba(0,0,0,0.8 );
    }
    .hamburger-exp img{
        width: 20px;
        margin-left: 10px;
        filter: invert(100%);
    }
    .menu-btn-exp {
        margin: 3px 0;
    }
}

/************************** TabProjects *************************/

 .title-link {
  display: flex;
  align-items: end;
}
.title-link a {
  position: relative;
  z-index: 1;
  filter: brightness(70%);
}
.title-link a:hover {
  filter:brightness(100%);
}
.title-link img {
  min-width: 25px;
  width: 1.5vw;
  margin-left: clamp(10px,1vw,1vw);
  margin-bottom: 1.8vh;
}

.select-items-proj {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  height: 100%;
  margin:0;
  padding:0;
  bottom: 0;
  overflow-x:auto;
  overflow-y: hidden;

}

.select-items-proj li {
  margin:15px 8px;
  width: 180px;
  height: 100%;
  font-size: 20px;
}
.select-items-proj h3 {
  text-align: center;
  width: 100%;
  bottom: 0px;
  margin: 0;
  height: 30px;
}
.select-items-proj img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 20px;
}
.items h3 {
  font-size: clamp(15px,1vw,1vw);
  font-weight:normal;
}

.select-items-proj li:hover {
  cursor: pointer;
  filter: brightness(100%);
}

.menu-btn-exp:hover {
 cursor: pointer;
}
.active {
    border-bottom: 1px solid red;
}

.active-item {
  filter: brightness(1.5);
}
.not-active-item{
  filter: brightness(.5);
  transition: .5s;
}


.exp .selector {
  position: absolute;
  bottom: 4vh;
  width: 100%;
  height: 35%;
  margin:0;
  display: flex;
  justify-content: center;
}


.active-items {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.active-items h1{
  font-size: 6.5vh;
  margin: 0;
  margin-left: 4%;
  z-index: 1;
  position: relative;
}
.active-proj-text {
  width: 100%;
  height: max-content;
  position: absolute;
  bottom: 40%;
}

.active-proj-text .proj-desc{
  font-size: 2vh;
  width: 50%;
  position: relative;
  z-index: 1;
  margin:0;
  margin-left: 4%;
  filter: brightness(70%);
}

.active-items::after{
  content:'';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
  background-image: linear-gradient(
  to top, #000 15%,transparent
  );
}
/******************** TabExperience **************************/
.exp-con-menu{
  width: 100%;
  --height: 60%;
  --height: max-content;
  display: flex;
  align-items: center;
  margin-top: 4vh;
  /* background-color: pink; */
  height: 70vh;
}
.right-box{
  width: max-content;
  height: calc-size(max-content,size - 70px);
  padding: 0;
  margin-top: 110px;
  /* background-color: green; */
}
.left-box {
  /* background-color: blue; */
  width: 50%;
  height: max-content;
  position: relative;
  margin-top: -20vh;
}
.exp-con-menu .item {
  position: relative;
  padding: 0;
}
.move-to-right {
  width: 400px;
  height: 150px;
  margin-top: -40px;
  height: 150px;
  position: relative;
  filter: brightness(60%);
  transition: filter 0.3 ease;
}
.move-to-right:hover {
  filter:brightness(100%);
}
.item-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.horizontal-line{
  width: clamp(40px,5vw,5vw);
  height: 100%;
  border-top: solid 3px white;
  position: absolute;
  top:20px;
}

.horizontal-line-left {
  right: 0;
}
.horizontal-line-left::after {
  content: '';
  width: 100px;
  height: 200px;
  position: absolute;
  top:10px;
  right: -3px;
}
.horizontal-line-right {
  left: 0;
}
.vertical-line-center {
    height: 35vh;
    width: 1px;
    position: absolute;
    background-color: red;
    left: calc(50% - 2px); 
}

.circle{
  width: 30px;
  height: 30px;
  background-color: black;
  border: 3px white solid;
  border-radius: 50%;
  position: absolute;
}
.circle-right{
  top:8px;
  left: -17px;
}
.circle-left {
  top:7px;
  right:-12px;
}
.item-right-first {
    display: none;
}
.item-right-content {
  width: 300px;
  height: 110px;
  margin-left: clamp(48px,5.5vw,6vw);
  margin-top: -70px;
  margin-bottom: 50px;
}
.item-left-content {
  text-align: end;
  width: 300px;
  padding-right: 10px;
  height: 110px;

}
.job-title, .company , .year {
  margin:0;
}
.company{
    font-size: clamp(5px,2.5vh,2rem);
}
.job-title {
  filter: brightness(80%);
  font-size: 15px;
}
.year {
  filter: brightness(50%);
}
.proj-desc{
  font-size: 25px;
  width: 50%;
  position: relative;
  z-index: 1;
  margin-left: 4%;
}

/************************ Feature CSS *******************/

.feat-container{
  margin-top: 45px;
  width: 100%;
  height: calc(100% - 45px);
  position: relative;
  overflow: auto;
  scrollbar-width: thin;
}
.flex-shrink-0{
  margin: 0 10px;
  flex-shrink: 0;
}
.box {
    /*box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.3), 0 0 0 1px hsla(230, 13%, 9%, 0.075), 0 0.3px 0.4px hsla(230, 13%, 9%, 0.02), 0 0.9px 1.5px hsla(230, 13%, 9%, 0.045), 0 3.5px 6px hsla(230, 13%, 9%, 0.09);*/

box-shadow: -1px 6px 23px 4px rgba(0,0,0,0.88);
-webkit-box-shadow: -1px 6px 23px 4px rgba(0,0,0,0.88);
-moz-box-shadow: -1px 6px 23px 4px rgba(0,0,0,0.88);
    width: 800px;
    height: 800px;
    max-width: 50%;
    max-height: 50%;
    aspect-ratio: 1 / 1;
    background-color: black;
    border-radius: 12px;
    margin-left: 50px;
}

.recent-feat {
  width: 35%;
  height: 100%;
  /* box-shadow: -1px 6px 23px 4px rgba(0,0,0,1); */
                /* inner glow 👇 */
  border:1px solid rgba(255,255,255,0.2);
  background-color:#1a1a1a;
  scroll-snap-align: center;
  border-radius: 15px;
  margin: 0 20px;
  position: relative;
  overflow: hidden;
}
.recent-feat .feat-desc {
  background-color: rgba(0, 0,0, 0.4);
  width: 100%;
  max-height: 100%;
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0;
}
.recent-feat .feat-desc p{
  font-size:2vh;
  filter: brightness(70%);
}
.recent-feat .feat-desc h1{
  font-size:4vh;
}

.display-flex-row {
  display: flex;
  flex-direction: row;
  overflow:hidden;
  align-items: center;
  width: 100%;
  --scroll-snap-type: x mandatory;
}
.recent-feat-container {
  height: 80%;
}

.slide-btn{
  width: 10%;
  height: 80%;
  position: absolute;
  animation:
  fadeIn .3s ease forwards;
  animation-delay: .2s;
  opacity: 0;
  z-index: 1;
  display: flex;
  align-items: center;
}

.right-slide{
  right: 0;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 70%);
  }
.left-slide{
  left:0;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 70%);
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateX(-10px); }
  to   { opacity: 1; transform: translateX(0); }
}

.feat-label{
  margin: 0 80px;
}

.feat-proj-wrapper {
  margin-top: 20px;
  /* background-color: red; */
  height: 50%;
  width: 100%;
  position: relative;
}

.display-flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.feat-intro {
  margin-top: 30px;
  width: 100%;
  height: 500px;
  box-shadow: 0 4px 8px rgba(20, 20, 20, 0.4), 0 6px 20px rgba(20, 20, 20, 0.3);
  background-image: url('/src/assets/computers.jpg');
}
.feat-intro::after {
  content: '';
  width: 100%;
  height: 500px;
  top: 30;
  position: absolute;
  background-image: linear-gradient(
   to top, #000 5%,transparent
  );
}
.feat-intro h1 {
  width:80%;
  font-size: clamp(20px,5vh,4rem);
  margin:0px auto;
  text-align: center;
  position: relative;
  z-index: 1;
}

.feat-skill-wrapper {
  margin-bottom: 50px;
  height: max-content;
  width: 100%;             /* shrink to fit */
}

.feat-skill-content {
  margin: 0 auto;
  position:relative;
  width: 90%;
  display: grid;
  gap:15px;
  grid-template-columns: repeat(auto-fit,minmax(8vw,1fr));
}

.feat-skill-items {
/* box-shadow: -1px 2px 5px 3px rgba(0,0,0,.8); */
  border-radius: 10px;
  box-shadow: inset 0 0 0 200px rgba(0,0,0,0.5);
  border-top: 1px solid rgba(225, 225, 225, 0.3);
  border-left: 2px solid rgba(225, 225, 225, 0.1);
  border-right: 1px solid rgba(225, 225, 225, 0.2);
  position: relative;
  margin-top: 40px;
 }
 .feat-skill-items img {
   width: 100%;
   height:100%;
 }
 .title-feat-skill {
   margin: 2px 10px;
   font-size: 1em;
   filter: brightness(90%);
   font-weight: normal;
   max-height: 100%;
   max-width: 100%;
 }

 .slide-btn img{
   height: 40%;
   width: 80%;
   margin: 60% auto;
   filter: grayscale(100%);
   display: block;
 }


 .slide-btn .right-arrow {
   transform: rotate(180deg);

 }

  .slide-btn:hover img{
   filter: grayscale(0);
   cursor: pointer;
 }



@media (max-width: 600px) {
    .active-proj-text .proj-desc {
        width: 90%;
    }
    .active-items::after{
        content:'';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 0;
        background-image: linear-gradient(
        to top, #000 50%,transparent
        );
    }
    .exp .selector {
        /* background-color: red; */
        width:  100%;
    }
    .exp .select-items-proj {
       /* background-color: green; */
       display: flex;
       flex-direction: row;
    }
    .select-items-proj li {
        flex-shrink: 0;
        height: 70%;
        width: 120px;
    }
    .left-box {
        display: none;
    }
    .item-right-first{
        display: block;
        filter: brightness(70%);
    }
    .exp-con-menu {
        height: 50vh;
        position: relative;
        margin-top: 0;
    }
    .right-box{
        margin-left: 10vw;
    }
    .vertical-line-center {
        left: 9.5vw;
        height: 42vh;
        bottom: 0;
    }
    .feat-label {
        margin-left: 30px;
    }
    .recent-feat {
        width: 45%;
    }
    .slide-btn img {
        height: 8vh;
    }
    .feat-desc h1, .feat-desc p {
        padding-left: 1vw;
    }
    .feat-skill-content {
      grid-template-columns: repeat(auto-fit,minmax(7rem,1fr));
    }

}

