.exp {
  width: 100%;
  height: 100%;
  --background-color: green;
  position: relative; 
}

.exp .content {
  height: 100%;
  --background-color: green;
}

.exp .title {
 background-color: rgba(0, 0, 0, 0);
 --background-color: red;
} 

.menu-btn-exp {
  padding:0 5px;
  width: 120px;
  height: 100%;
  font-size: 20px;
  --background-color: green;
}

.select-items-proj {
  list-style-type: none;
  --color: red;
  display: flex;
  background-color: green;
  justify-content: space-evenly;
  height: 20%;
  margin:0;
  padding:0;
  position: absolute;
  bottom: 0;
}

.select-items-proj li {
  background-color: blue;
  margin:0 5px;
  width: 140px;
  height: 100%;

}
.select-items-proj li:hover {
  cursor: pointer;
}

.menu-btn-exp:hover {
 --background-color: grey;
 cursor: pointer;
 border-bottom: 1px solid white;
}
.active {
  border-bottom: 1px solid red;
}

.exp .selector {
  background-color: white;
  width: 100%;
  height: 15%;
  margin:0;
  display: flex;
  justify-content: flex-end;
}

.active-items {
  width: 100%;
  height: 85%;
  background-color: red;
  z-index: 1;

}
