*{
    
}
body{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-size: auto;
    background-image: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
}
.nav{
    width: 200px;
    height: inherit;
    position: fixed;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: inherit;
}

.nav ul{
    list-style: none;
    padding:  0;
    margin:  0;
    width: inherit;
}
.nav li {
    padding:10px 40px;
}
.nav a {
    text-decoration: none;
    font-size: 45px;
    font-family: 'Bebas Neue', cursive;
}