.about-me {
  width: 100%;
  height: 100%;
  position: relative;
}
.profile {
  width: 45%;

}
.about-me .profile-picture {
  width: 100%;
  height: 100%;
}

.content .about-name{
  font-size: 30px;
  font-weight: bold;
  position: relative;
}

.job-title {
  font-size: 17px;
}
.education {
 filter: brightness(60%); 
}

.links-containers {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-containers {
  width: min-content;
  height: min-content;
}
.icons{
  width: 25px;
  height: 25px;
  filter: brightness(50%);
  transition: filter 0.3 ease;
  margin: 10px;
}

.icons:hover {
  filter: grayscale(100%);
  cursor: pointer;
}




