.main-background {
  width:100%;
  height:100vh;
  background-color: grey;
  background-image: url('../assets/wallhaven-y892kg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  top:0;
  left: 0;
  background-size: cover;
  color:black;
  position: absolute;
}
.desktop {
  height: 96vh;
  margin-top: 4vh;
  --background-color: green;
  width: 100vw;
  position: relative;
  overflow: hidden;
}
.win-container {
  width:500px;
  height: 500px;
  position:absolute;

}

.about {
  transform: translate(26px,18px);
}
.cert {
  transform: translate(26px,542px);
}



