.main-background {
  width:100%;
  height:100vh;
  background-color: grey;
  background-image: url('../assets/wallhaven-y892kg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  top:0;
  left: 0;
  background-size: cover;
  color:black;
  position: absolute;
}
.desktop {
  height: 96vh;
  margin-top: 4vh;
  --background-color: green;
  width: 100vw;
  position: relative;
  overflow: hidden;
}
.about, .cert{
  width:500px;
  height: 500px;
  position:absolute;

}



.blur-bg {
  backdrop-filter: blur(15px); /* Apply blur to the background behind this element */
  -webkit-backdrop-filter: blur(15px); /* Safari support */
  background: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.30);

}
.content {
  margin-top: 30px;
  --background-color: red;
  position: absolute;
  height: calc(100% - 30px);
  width: 100%;
  top:0;
  display: flex;
  color:rgb(229, 218, 173);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about {
  transform: translate(26px,18px);
}

.experience {
  width: 70%;
  height: 100%;
  position:absolute;
  transform: translate(600px,0px);
}

.cert {
  transform: translate(26px,542px);
}

.about-container .title-con h4 {
  --background-color: red;
  text-align: center;
}





