.main-background {
  width:100%;
  height:100vh;
  height: 100dvh;
  background-color: grey;
  background-image: url('../assets/wallpaper-1.png');
  background-repeat: no-repeat;
  background-position: center;
  top:0;
  left: 0;
  background-size: cover;
  color:black;
  position: absolute;
}
.desktop {
  height: 97.8vh;
  margin-top: 2.2vh;
  --background-color: green;
  width: 100vw;
  position: relative;
  overflow: hidden;

}

.win-container {
  position: absolute;
  overflow: hidden;
}


.blur-bg {
  backdrop-filter: blur(15px); /* Apply blur to the background behind this element */
  -webkit-backdrop-filter: blur(15px); /* Safari support */
  background: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.30);

}
.content {
  margin-top: 30px;
  --background-color: red;
  position: absolute;
  height: calc(100% - 30px);
  width: 100%;
  top:0;
  display: flex;
  color: var(--primary-color);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.experience{
  width: 70%;
  height: 85%;
}

.about-container .title-con h4 {
  text-align: center;
}

.resume {
  width: 920px;
  height: 70%;
  position: absolute;
}

.drag-div {
  width: 77%;
  height: 33px;
  position: absolute;
  z-index: 1001;
}

/* Loading screen */
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: opacity 1s ease;
}

.loading-screen.hidden {
  opacity: 0;
  pointer-events: none;
}

.sticks {
  width: 10vw;
  height: 9vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.stick-one, .stick-two,.stick-three{
  width: 1vw;
  background-color: #2f8173;
  border-radius: 50px;
}
.stick-one {
  height: 60%;
  animation: grow 1s reverse   infinite; 
}
.stick-two {
  height: 75%;
  animation: grow-2 1s  infinite; 
}
.stick-three {
  height: 80%;
  animation: grow-3 1s reverse  infinite;
}





@keyframes grow {
  50% { height: 85%;}
  100% {height: 60%;}
}

@keyframes grow-2 {
  50% { height: 90%;}
  100% {height: 75%;}
}

@keyframes grow-3 {
  50% { height: 100%;}
  100% {height: 80%;}
}
