.main-background {
  width:100%;
  height:100vh;
  background-color: grey;
  background-image: url('../assets/wallpaper-1.png');
  background-repeat: no-repeat;
  background-position: center;
  top:0;
  left: 0;
  background-size: cover;
  color:black;
  position: absolute;
}
.desktop {
  height: 97.8vh;
  margin-top: 2.2vh;
  --background-color: green;
  width: 100vw;
  position: relative;
  overflow: hidden;

}

.win-container {
  position: absolute;
  overflow: hidden;
}


.blur-bg {
  backdrop-filter: blur(15px); /* Apply blur to the background behind this element */
  -webkit-backdrop-filter: blur(15px); /* Safari support */
  background: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.30);

}
.content {
  margin-top: 30px;
  --background-color: red;
  position: absolute;
  height: calc(100% - 30px);
  width: 100%;
  top:0;
  display: flex;
  color: var(--primary-color);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.experience{
  width: 70%;
  height: 85%;
}

.about-container .title-con h4 {
  text-align: center;
}

.resume {
  width: 920px;
  height: 70%;
  position: absolute;
}

.drag-div {
  width: 77%;
  height: 33px;
  position: absolute;
  z-index: 1001;
}

/* Loading screen */
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: opacity 0.5s ease;
}

.loading-screen.hidden {
  opacity: 0;
  pointer-events: none;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 4px solid rgba(255,255,255,0.3);
  border-top-color: white;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}


