.main-background {
  width:100%;
  height:100%;
  background-color: grey;
  background-image: url('../assets/wallhaven-y892kg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color:black;
  display:flex;
  position: relative;
}

