.main-header {
  height: 4vh;
  width: 100vw;
  --background-color: green; 
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left,.header-center,.header-right{
  position: relative;
  height: 100%;
  width: 33.33%;
  align-items: center;
  --background-color: red;
  padding: 5px;
  display: flex;
}
.header-left {
  flex-direction: row;
}
.header-right {
  flex-direction: row-reverse;
}
.header-center {
  justify-content: center;
}

.header-left .name,.header-left .location, .time-display {
  border-radius:10px;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent white background */
  --box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px); /* Apply blur to the background behind this element */
  -webkit-backdrop-filter: blur(5px); /* Safari support */
  --border: 1px solid rgba(255, 255, 255, 0.3);
  margin-left: 10px;
  padding: 5px 10px 5px 10px;
  font-size: 16px;
  color:rgb(229, 218, 173);
  font-weight: bold;
  display: flex;
  align-items: center;
  --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}

.time-display {
  white-space: pre;
}
