.main-header {
  height: 2.2vh;
  width: 100vw;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left,.header-center,.header-right{
  position: relative;
  height: 100%;
  width: 33.33%;
  align-items: center;
  padding: 5px;
  display: flex;
}
.header-left {
  flex-direction: row;
}
.header-right {
  flex-direction: row-reverse;
}
.header-center {
  justify-content: center;
}

.header-left .name,.header-left .location, .time-display {
  border-radius:15px;
  height: 1.9vh;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent white background */
  backdrop-filter: blur(5px); /* Apply blur to the background behind this element */
  -webkit-backdrop-filter: blur(5px); /* Safari support */
  margin-left: 10px;
  padding: 3px 15px;
  font-size: 13px;
  color:var(--primary-color);
  font-weight: bold;
  display: flex;
  align-items: center;
}

.time-display {
  white-space: pre;
}
