.main-header {
  height: 5vh;
  width: 100vw;
  --background-color: red; 
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left,.header-center,.header-left{
  position: relative;
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  --background-color: red;
  padding: 5px;
  --justify-content: space-between;
}

.header-left .name,.header-left .location {
  border-radius:25px;
  background: rgba(255, 255, 255, 0); /* Semi-transparent white background */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px); /* Apply blur to the background behind this element */
  -webkit-backdrop-filter: blur(3px); /* Safari support */
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-left: 10px;
  padding: 10px;
  font-size: 19px;
  color:rgb(229, 218, 173);
  font-weight: bold;
}
