.nav-pane {
  height:100%;
  width:180px;
  --position: absolute;
  left:0;
  --border-right: .2px solid grey;
  padding-top:5px;
  background: rgba(0, 0, 0, 0.6); 
--box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.30);

}

.nav-pane-btn{
  --background-color: red;
  --border:1px solid white;
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  font-size:18px;
}
.nav-pane-btn:hover{
  background-color: rgba(255, 255,255, 0.3);
}
