.nav-pane {
  height:100%;
  width:150px;
  position: absolute;
  left:0;
  border-right: .2px solid grey;
  padding-top:5px;
}

.nav-pane-btn{
  --background-color: red;
  --border:1px solid white;
  padding-left: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
}
