.pdf-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.pdf-wrapper {
  position: relative;
  width: 100%;
  height: calc(100% - 35px);
}
.pdf-btns {
  height: 10%;
  width: 100%;
}
.pdf-content {
  width: 100%;
  height: 90%;
  overflow: auto;
  padding-left: auto;
  text-align: center;
}





