.pdf-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.pdf-wrapper {
  position: relative;
  width: 100%;
  height: calc(100% - 35px);
}

.pdf-change-btns{
  width: 33%;
  height: 3vh;
  position: relative;
  align-self: center;
}
.pdf-btns-container input {
  width: 100%;
  padding-left: 20px;
  visibility: hidden;
}
.pdf-btns-container input[type="file"]::file-selector-button {
  background-color: #007bff;
  color: white;
  padding: 0 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 100%;
  /* Add other desired styles */
}

.pdf-btns-container{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  height: max-content;
  color: white;
  margin: 10px 0;
}
@media (max-width: 600px) {
    .pdf-btns-container {
        grid-template-columns: 0% 60% 40%;
    }
}

.pdf-btns{
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-size: clamp(10px,.8vw,.8vw);
}
.pdf-content {
  width: 100%;
  height: 92%;
  overflow: auto;
  padding-left: auto;
  text-align: center;
}

.pdf-btns-nav{
  height: 3.5vh;
  width: clamp(50px,4vw,4vw);
  text-align: center;
  padding: 0;  
  cursor: pointer;
  font-size: clamp(10px,.8vw,.8vw);
}

.download-cv {
  width: clamp(80px,4vw,4vw);
  height: 3vh;
  cursor: pointer;
}
.a-dl-cv {
  display: block;
  margin: auto auto;
}





