.pdf-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.pdf-wrapper {
  position: relative;
  width: 100%;
  height: calc(100% - 35px);
}

.pdf-change-btns{
  width: 33%;
}
.pdf-btns-container input {
  width: 100%;
  padding-left: 20px;
}
.pdf-btns-container input[type="file"]::file-selector-button {
  background-color: #007bff;
  color: white;
  padding: 15px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* Add other desired styles */
}

.pdf-btns-container{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  height: max-content;
  color: white;
  margin: 10px 0;
}

.pdf-btns{
  height: 45px;
  width: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.pdf-content {
  width: 100%;
  height: 92%;
  overflow: auto;
  padding-left: auto;
  text-align: center;
}

.pdf-btns-nav{
  height: 40px;
  width: 80px;
  text-align: center;
  padding: 0;
}





