.pdf-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.pdf-wrapper {
  position: relative;
  width: 100%;
  height: calc(100% - 35px);
}

.pdf-change-btns{
  width: 33%;
}
.pdf-open-btns input[type="file"]::file-selector-button {
  background-color: #007bff;
  color: white;
  padding: 15px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* Add other desired styles */
}

.pdf-open-btns{
  height: 8%;
  width: 100%;
  --background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

}
.pdf-content {
  width: 100%;
  height: 92%;
  overflow: auto;
  padding-left: auto;
  text-align: center;
}





