.app-drawer-container {
  ----background-color: ;
  width: max-content;
  height:max-content;
  --background-color: red;
  height: max-content;
  position: fixed;
  bottom: 10px;
  z-index: 9999;
  left: 50%;
  transform: translate(-50%,0);
  transform-origin: center;
  display: flex;
  justify-content: center;
}
.app-drawer-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;
  padding: 8px 20px;
  gap:10px;
  border-radius: 10px;
  margin: 0 auto;
  width: max-content;
  height:70px;
  align-items: center;
  --transition: ease-in;
  transform-origin: center;
}
.app-icon {
  width: min-content;
  height: 50px;
  width: 50px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  transition: 200ms ease-in-out;
  transform-origin: bottom;
}
.app-icon:hover{
  cursor: pointer;
  margin: 0 20px;
  padding-bottom:6px;
  transform: scale(1.8) ;
  transform-origin: bottom;
}
.app-icon:hover + .app-icon {
  transform: scale(1.1) translateY(-5px);
}
/* Previous neighbor */
.app-icon:has(+ .app-icon:hover) {
  transform: scale(1.1) translateY(-5px);
}

.app-icon img {
  width: 100%;
height: 100%;
 padding: 0;
  transform-origin: bottom;
}
.app-icon p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: whitesmoke;
  font-size: 15px;
  display: none;
}
