.app-drawer-container {
  width: max-content;
  height:max-content;
  height: max-content;
  position: fixed;
  bottom: 10px;
  z-index: 9998;
  left: 50%;
  transform: translate(-50%,0);
  transform-origin: center;
  display: flex;
  justify-content: center;
}
.app-drawer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: var(--secondary-color);
  border-radius: 10px;
  margin: 0 auto;
  width: max-content;
  height:5vh;
  align-items: center;
}



.app-icon {
  width: min-content;
  height: 100%;
  width: clamp(3rem,2.5vw,4rem);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms ease-in-out;
  transform-origin: bottom;
  position: relative;
}
.app-icon:hover{
  cursor: pointer;
  margin: 0 15px;
  padding-bottom:6px;
  transform: scale(1.8) ;
  transform-origin: bottom;
}
.app-icon:hover + .app-icon {
  transform: scale(1.1) translateY(-5px);
}
/* Previous neighbor */
.app-icon:has(+ .app-icon:hover) {
  transform: scale(1.1) translateY(-5px);
}

.app-icon img {
  width: 80%;
  padding: 0;
  transform-origin: bottom;
}
.app-icon p {
  margin: 0;
  padding: 5px;
  width: max-content;
  text-align: center;
  color: whitesmoke;
  font-size: 10px;
  border-radius: 5px;
  visibility:hidden;
  position: absolute;
  top: -20px;
  background-color: black;
}

.app-icon:hover p {
  visibility: visible;
}

.app-drawer-content .about {
  padding-left: 2.5%;
}
.app-drawer-content .calendar {
  padding-right: 2.5%;
}


