.app-drawer-container {
  width: max-content;
  height:min-content;
  position: fixed;
  bottom: 10px;
  z-index: 9998;
  left: 50%;
  transform: translate(-50%,0);
  transform-origin: center;
  display: flex;
}
.app-drawer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: var(--secondary-color);
  border-radius: 10px;
  margin: 0 auto;
  width: max-content;
  height:5vh;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.app-icon {
  height: 100%;
  width: clamp(3rem,2.5vw,4rem);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms ease-in-out;
  transform-origin: bottom;
  position: relative;
}
.app-drawer-container .app-img-container {
    height: 75%;
    position: relative;
    width: 2.1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.app-drawer-container .open-app{
    background-color: rgba(255,255,255,0.3);
}

.app-icon:hover{
  cursor: pointer;
  margin: 0 15px;
  transform: scale(1.8) ;
  transform-origin: bottom;
  z-index: 2;
}
.app-icon:hover + .app-icon {
  transform: scale(1.1) translateY(-5px);
}
/* Previous neighbor */
.app-icon:has(+ .app-icon:hover) {
  transform: scale(1.1) translateY(-5px);
}

.app-icon img {
  width: 80%;
  padding: 0;
  transform-origin: bottom;
  position: relative;
}
.app-icon p {
  margin: 0;
  padding: 5px;
  width: max-content;
  text-align: center;
  color: whitesmoke;
  font-size: 10px;
  border-radius: 5px;
  visibility:hidden;
  position: absolute;
  top: -20px;
  background-color: black;
}

.app-icon:hover p {
  visibility: visible;
}

.app-drawer-content .about {
  justify-content: flex-end;
  width: 2.8vw;
  padding-right: .2vw;
}
.app-drawer-content .calendar {
  justify-content: flex-start;
  width: 2.8vw;
  padding-left: .2vw;
}


