.cards,.btn-container {
    /* Content alignment*/
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    /*3d content*/
    transform-style: preserve-3d;
    transition: all ease-in-out;
    transition: transform 1000ms;
}
.btn-container{
    padding-top:50px;
    
}
.btn-flip{
    height: 30px;
    width: 100px;
    text-align: center;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5em;
}
.cards{

    width:700px;
    height: 350px;
    color: white;
}
.flipped {
    transform: rotateY(-180deg);
}
.card-back,.card-front{
    width:700px;
    height: 350px;
}
.card-back,.card-front{
    /* alignment */
    position: absolute;
        /*3d setting */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(0deg);
    border: .5px white;

    
}
.btn-flip-front,.btn-flip-back{
    position: absolute;
    /*3d setting */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(0deg);
    border: solid white;
}


.card-front,.btn-flip-front {
    z-index: 0;
    background-image:linear-gradient(180.6deg, rgb(0, 0, 0) 50.2%, rgb(16, 37, 60) 100%);
}
.card-back,.btn-flip-back{
    z-index: -1;
    color: white;
    transform: rotateY(-180deg);
    /*background-image:linear-gradient(180.6deg, rgb(0, 0, 0) 50.2%, rgb(16, 37, 60) 100%);*/
    background-color:black;
    opacity: 0.8;
    background-image:  linear-gradient(30deg, rgb(16, 37, 60) 12%, transparent 12.5%, transparent 87%, rgb(16, 37, 60) 87.5%, rgb(16, 37, 60)), linear-gradient(150deg, rgb(16, 37, 60)12%, transparent 12.5%, transparent 87%, rgb(16, 37, 60) 87.5%, #000000), linear-gradient(30deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(150deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(60deg, #00000077 25%, transparent 25.5%, transparent 75%, #00000077 75%, #00000077), linear-gradient(60deg, #00000077 25%, transparent 25.5%, transparent 75%, #00000077 75%, #00000077);
    background-size: 20px 35px;
    background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
}
.card-front h3{
    text-align: center;
    width: inherit;
    font-family: Arial, Helvetica, sans-serif;
}
.card-front h1{
    width: inherit;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 3em;
}
.contact-details{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5em;
}
