.cert-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.cert-container .imgs {
  margin:5px 5px 0px 5px;
}
.cert-container .content {
  display:flex;
  flex-direction: row;
  flex:1;
}
.lbl {
  text-align: center;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.image-container {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.image-container-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:5px;
}

.img-label {
  width: clamp(100px,6vw,7vw);
  height: 15vh;
  padding: 0;
  margin: 0;
}
.img-label .imgs {
  width: clamp(auto,4.5vw,4.5vw);
  height: 8vh;
  margin: 1em auto;
  display: block;
}
.image-container a,.image-container a:visited, .image-container a:link {
  text-decoration: none;
  color: --var(primary-color);
}


