.cert-container {
  width: 100%;
  height: 100%;
  position: relative;
  --background-color: red;
}
.cert-container .imgs {
  margin:5px 5px 0px 5px;
  --background-color: green;
}
.cert-container .content {
  --background-color:green;
  display:flex;
  flex-direction: row;
  flex:1;
}
.lbl {
  text-align: center;
  --background-color: white;
}
.image-container {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.image-container-wrap {
  --background-color:green;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.img-label {
  --background-color: red;
  width: 150px;
  height: 170px;
  padding:  8px;
}
.imgs {
  width: 110px;
  height: 110px;
  --background-color: red;
}




