.main-windows {
  height:100%;
  width: 100%;
  --background-color: black;
  --border: 1px solid green;
  position: absolute;
}
.title {
  height: 10%;
  width:100%;
  background-color:red;
  position: relative;
}
.resize-btn {
  width: 15px;
  height: 15px;
  background-color: white;
  position: absolute;
  bottom: 0;
  right:0;
  z-index: 1;
  cursor: nwse-resize;
}


