.main-windows {
  height:100%;
  width: 100%;
  --background-color: black;
  --border: 1px solid green;
  position: absolute;
}
.title {
  height: 10%;
  width:100%;
  background-color:red;
  position: relative;
}

