.main-windows {
  height:min-content;
  height: max-content;
  --background-color: black;
  --border: 1px solid green;
  position: relative;
  --background: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
  border-radius:8px 8px 0 0 ;
}
.title {
  width:100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: relative;
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent white background */
  color:white;
  --border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  height: 33px;
  z-index: 1000;
}
.window-container,.title-con,.menu {
  --background-color: red;
  width: 33.33%;
  display: flex;
  --background: red;
  --border: 1px solid black;
}
.title-con {
  top:0;
  --background-color: red;
  align-items: center;
  justify-content: center;
}


.cert-container .title-con h4{
  width: 300px;
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 2.5px;
  text-align: center;
}


.window-container {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
  
}
.blur-bg {
  backdrop-filter: blur(15px); /* Apply blur to the background behind this element */
  -webkit-backdrop-filter: blur(15px); /* Safari support */
}
.resize-btn {
  width: 15px;
  height: 15px;
  background-color: white;
  position: absolute;
  bottom: -5px;
  right:-5px;
  z-index: 1000;
  cursor: nwse-resize;
}

.window-btn {
  margin-left: 15px;
  cursor: pointer;
  filter: brightness(30%);
}
.window-btn:hover {
  filter: brightness(100%);
}
.minimize-btn {
  font-size: 18px;
  padding-bottom: 4px;
  
}

.close-btn {
  font-size: 20px;
  --background:red;
}

.maximize-btn {
  font-size:17px;
  padding-bottom: 3px;
  --background-color: red;
}
