.main-windows {
  height:min-content;
  width: 100%;
  height: max-content;
  position: relative;
  border-radius:8px 8px 0 0 ;
}
.title {
  width:100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: relative;
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent white background */
  color:white;
  display: flex;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  height: 33px;
  z-index: 1000;
}
.window-container,.title-con,.menu {
  width: 33.33%;
  display: flex;
}
.title-con {
  top:0;
  align-items: center;
  justify-content: center;
}


.main-windows .title-con h4{
  width: 300px;
  height: 2vh;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  font-size: 1.3vh;
}


.window-container {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
  
}
.blur-bg {
  backdrop-filter: blur(15px); /* Apply blur to the background behind this element */
  -webkit-backdrop-filter: blur(15px); /* Safari support */
}
.resize-btn {
  width: 15px;
  height: 15px;
  position: absolute;
  bottom: -5px;
  right:-5px;
  z-index: 1000;
  cursor: nwse-resize;
}

.window-btn {
  margin-left: 15px;
  cursor: pointer;
  filter: brightness(30%);
}
.window-btn:hover {
  filter: brightness(100%);
}
.minimize-btn {
  font-size: 18px;
  padding-bottom: 4px;
  
}

.close-btn {
  font-size: 20px;
}

.maximize-btn {
  font-size:17px;
  padding-bottom: 3px;
}
