.main-windows {
  height:100%;
  width: 100%;
  --background-color: black;
  --border: 1px solid green;
  position: relative;
  background: rgba(0, 0, 0, 0.4);
  border-radius:8px;
}
.title {
  height: 30px;
  width:100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: relative;
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent white background */
  color:white;
  --border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  font-size: 15px;
  align-items: center;
  justify-content: center;  
}
.blur-bg {
  backdrop-filter: blur(15px); /* Apply blur to the background behind this element */
  -webkit-backdrop-filter: blur(15px); /* Safari support */
}
.resize-btn {
  width: 15px;
  height: 15px;
  background-color: white;
  position: absolute;
  bottom: 0;
  right:0;
  z-index: 1;
  cursor: nwse-resize;
}


